attrs==22.1.0
colorama==0.4.6
iniconfig==1.1.1
mutagen==1.46.0
numpy==1.23.4
packaging==21.3
pandas==1.5.1
pluggy==1.0.0
pydantic==1.10.2
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
pytz==2022.6
regex==2022.10.31
six==1.16.0
toml==0.10.2
tqdm==4.64.1
typing_extensions==4.4.0
-e git+https://github.com/bjoerm/mp3_cleaner.git@b13f220c4d2348829d7d756e80dce378f500f000#egg=UNKNOWN
